<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>stations</h1>
	<form id="add-task" action="">
		<input type="text">
		<input type="submit" value="add task">
	</form>
	<div class="branches">
		<script type="text/template" id="station_template">
			<%= name %> (<%= zone %>) <button class="edit">Edit</button><button class="remove">Delete</button>
		</script>

	</div>

	<script type="text/template" id="branch_template">
		<div><%=branch %></div>
	</script>

	<script type="text/javascript" src="JS/underscore-min.js"></script>
	<script type="text/javascript" src="JS/jquery.js"></script>
	<script type="text/javascript" src="JS/backbone.js"></script>
	<script type="text/javascript" src="JS/main.js"></script>
</body>
</html>